.add_pin{
    height:35px;
    width:300px;
    background-color:#2a44ee;
    border:none;
    outline: none;
    border-radius: 3px; 
    color:white;
    text-align: center;
    font-family:sans-serif;
    margin: 10px 10px 0px 10px;
    
    
}
.add_pin:hover{
    background-color: #192fc0;
    cursor: pointer;
}
.notify_details{
    margin:0px 10px;
    font-family: sans-serif;
    font-weight: normal;
}
input{
    border:transparent;
    border-bottom: solid;
    border-bottom-color: #ffb35d;
    outline: none;
    width:230px;
    padding: 5px;
    border-radius: 3px;
    height: 30px;
    margin: 0px 0px 10px 0px;
}
.input_warn{
    margin-top: 0;
    font-size:10px;
    color: rgb(255, 77, 77);
}
body{
    font-family: sans-serif;
    font-weight: normal;
}
.pins_container{
    width:300px;
    margin-right:10px; 
    margin-left:10px;
    
}
.pins1{
    padding:5px;
    word-wrap: break-word;
    background-color:#ffce8f;
}
.pins2{
    padding:5px;
    background-color:#5b9ed4;
    word-wrap:break-word;
}
.appbase_logo{
height:25px;
margin:20px 10px 10px 0px;
float: right;
}